

<!--#For login.js/signup-->
<script type="text/javascript">
    function confirminput()
    {
        { if(log.style.display == 'block')
            log.style.display = 'none';
        else log.style.display = 'block';
        }


    }
</script>
<!--#Google Map-->
<div id="gmap"><!-- google maps --></div>
<div id="container" style="width:1300px">

    <div id="id" align="right">
        <a href="#" onclick="confirminput()">LOGIN/SignUp</a>
    </div>


<b><div id="log" style="display:none;background-color:ghostwhite;height:500px;width:400px;float:right;">
    <form style=" &nbsp; &nbsp;">
    <h4 align="center"> Pledge Information</h4><br>

   Name :<input type="text"  name="name" value=""><br><br>

    Suggestions : <input  type="text" name="suggestions" value=""><br><br>

    Impact :<input  type="text" name="impact" value=""><br><br>

    Visuals : <input  type="text" name="visuals" value=""><br><br>
    Followers :<input  type="text" name="followers" value="">
    <br><br>
            <input  type="SUBMIT" name="" value="Comment">
    <br>
        <br>
        <br>

     Or <a href="#" onclick="confirminput()">SingUp</a> here...
    </form>
        </div></b><br>

</div>
<!--#Style Switcher-->
<div id="switcher" style="margin-left: -500px; display: none; ">

    <div class="content-switcher" style="height: 400;width: 300 ">
        <h4>Menu Information</h4>
        <p><a href="">Home</a></p>
        <p><a href="">Profile</a></p>
        <p><a href="">Contact</a></p>
        <br>
        <input type="submit" name="more" value="More">
    <div id="hideSwitcher">×</div>
    </div>
</div>
<div id="showSwitcher" class="styleSecondColor"><i class="fa fa-angle-double-right"></i></div>



    </div>

</div>