

<!--#For login.js/signup-->
<script type="text/javascript">
    function confirminput()
    {
        { if(log.style.display == 'block')
            log.style.display = 'none';
        else log.style.display = 'block';
        }


    }
</script>
<!--#Google Map-->

<div id="gmap"><!-- google maps --></div>
<div id="container" style="width:1300px">
    <div id="id" align="right">
        <a href="#" onclick="confirminput()"><b>LOGIN/SignUp</b></a>
    </div>

    <div id="log" align="center" style="display:none;background-color:white;height:500px;width:300px;float:right;">

    <h4><b> Pledge Information</b></h4>
    <form>
    <p> Name       <input type="text"  name="name" value=""></p>

    <p> Suggestions <input  type="text" name="suggestions"></p>

    <p> Impact      <input  type="text" name="impact"></p>

    <p> Visuals     <input  type="text" name="visuals"></p>
    <p> Followers   <input  type="text" name="followers"></p>
    <br>

      <input  type="SUBMIT" name="" value="Comment">
        <br>
        <br>
        <br>
        <br>
        <br>

     Or <a href="#" onclick="confirminput()">SingUp</a> here...
    </form>
       </div>


</div>
<!--#Style Switcher-->
<div id="switcher" style="margin-left: -500px; display: none; ">

    <div class="content-switcher" style="height: 400;width: 300 ">
        <h4>Menu Information</h4>
        <p><a href="">Home</a></p>
        <p><a href="">Profile</a></p>
        <p><a href="">Contact</a></p>
        <p><a href="/" rel="address:/" address="true">Map of Photos</a></p>
       <p> <a id="nav-event-photos" href="/event-photos" rel="address:/event-photos" address="true" class="">Event Photos</a></p>
        <p><a id="snav-ponsors" href="/sponsors" rel="address:/sponsors" address="true">Sponsors</a></p>
        <br>

        <input type="submit" name="more" value="More">
    <div id="hideSwitcher">×</div>
    </div>
</div>
<div id="showSwitcher" class="styleSecondColor"><i class="fa fa-angle-double-right"></i></div>



    </div>

</div>