<script>
     function confirmInput()

      {

            alert( "! Log In here...");
      }
 </script>


        <div id="container" style="width:1300px">
         <div align="right">

        <p>
            <%=link_to "abc", "javascript:void(0);"%>
        </div>

        <b><div id="login"align="center" style="border:1px solid #000000;background-color:grey;height:500px;width:300px;float:right;">

        Menu Information<br> <br><br>
         </div></b><br>



</div>

</div>

