
<div id="switcher" style="margin-left: -500px; display: none;">
    <div class="content-switcher">
        <h4>Menu Information</h4>



        <div id="hideSwitcher">×</div>
    </div>
</div>
        <div id="showSwitcher" class="styleSecondColor"><i class="fa fa-angle-double-right"></i></div>
        <div id="container" style="width:1300px">
         <div align="right">

        </div>

</div>

