//html, body, .container-fluid, .row, .col-md-11{
// height:100%;
//}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
 z-index: 100

  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


/*
 * Main content
 */

.main {
  display:block;
  z-index:1;
  padding: 0;
}
.main .page-header {
  margin-top: 0;

}

#map-canvas {
  width:100%;
  height:100%;
  display:block;
  position:absolute;


}

#map-canvas_default {
  width:100%;
  height:450px;
  display:block;
}
