html, body, .container-fluid, .row, .col-md-11{
  height:100%;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


/*
 * Main content
 */

.main {
  padding: 0;
}
.main .page-header {
  margin-top: 0;
}

#map-canvas {
  height:100%;
  width:100%;
}