// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.element {
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: #000000;
  font: inherit;
  margin: 0px;
}
* {
  box-sizing: border-box;
}

p, ol, ul, td {
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 23px;
  line-height: 21px;
}
td, th {
  padding: 13px;
}
