// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.element {
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: #000000;
  font: inherit;
  margin: 0px;
}
* {
  box-sizing: border-box;
}

p, ol, ul, td {
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 19px;
  line-height: 21px;
}
td, th {
  padding: 13px;
}
p {
  margin: 2em 0px;
}

body {
  background-color: #FFF;
  color: #B9DEF0;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 20px;
}

element.style {
}
 
#main-content .feature-columns .feature-col .thumbnail img.item-thumbnail {
  width: 100% !important;
  height: 200px;
  opacity: 0.8;
  transition: all 0.4s ease 0s;
}
 
#main-content .feature-columns .feature-col .thumbnail img.item-thumbnail {
  width: 100% !important;
  height: 200px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
 
#main-content .feature-columns .feature-col .thumbnail * {
  color: #FFF;
  text-decoration: none;
  outline: medium none;
  transition: color 0.4s ease 0s;
}
 #main-content .feature-columns .feature-col .thumbnail * {
  color: #FFF;
  text-decoration: none;
  outline: medium none;
  transition: color 0.4s ease 0s;
}
 
#main-content .feature-columns .feature-col .thumbnail * {
  color: #fff;
  text-decoration: none;
  outline: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
 
img {
  border: 0px none;
}
 img {
  vertical-align: middle;
}
 img {
  vertical-align: middle;
}
 img {
  border: 0px none;
}
 img {
  vertical-align: middle;
}
 img {
  border: 0;
}
 * {
  box-sizing: border-box;
}
 
* {
  box-sizing: border-box;
}
 
* {
  box-sizing: border-box;
}
 
* {
  box-sizing: border-box;
}
 
* {
  box-sizing: border-box;
}
 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}