<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>1 to 1 movement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
  <%= csrf_meta_tags %>

</head>
<body>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
